$primary-900: #668BFB;
$primary-500: rgba(102, 139, 251, 0.5);
$primary-100: rgba(102, 139, 251, 0.1);
$orange-100: #FFEBA5;
$orange-500: #FFC979;
$orange-900: #F9AC75;
$black-50: #EDEDED;
$black-100: rgba(111, 118, 126, 0.4);
$black-500: #9A9FA5;
$black-900: #1A1D1F;
$purple-500: #C5B7FF;
$purple-900: #9876F8;
$azure-500: #A4E2FD;
$azure-900: #83D6E8;
$white-900: #FCFCFC;
$background-color-500: rgba(244, 244, 244, 0.5);
$background-color-900: #F4F4F4;
$green-100: #A6E6C3;
$green-500: #8FDBB1;
$green-900: #83BF6E;
$red-100: #FFA295;
$red-500: #F97685;
$red-900: #FF6A55;
